<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta name="color-theme" content="black">
    <%- include ../head -%>
    <link rel="stylesheet" href="/stylesheet/accueil.css">
</head>
<style>

</style>

<body class="grey lighten-4">
    
    <%- include ../script -%>
    <script src="/js/main.js"></script>
</body>
</html>