<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include ../meta %>
    <title>
        <%= title %>
    </title>
    <%- include ../head -%>
    <link rel="stylesheet" href="/stylesheet/accueil.css">
</head>
<body class="container">
    
    <%- include ../script -%>
    <script src="/js/main.js"></script>
</body>
</html>